@charset 'utf-8';
@import url(https://fonts.googleapis.com/css?family=Chewy);

body {
    text-align: center;
}
#canvasContainer{
	width: 505px;
	margin: 0 auto;
}
#canvasOverlay {
    width: 505px;
    height: 536px;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    display: none;
    top: 100px;
    color: white;
    font-family: Chewy;
}

#canvasOverlay.gameover {
	display: block;
	animation-name: gameover;
	animation-duration: 3s;
}

@keyframes gameover {
	from {
		background-color: rgba(0,0,0,0);
	}
	
	to {
		background-color: rgba(0,0,0,0.8);
	}
}

.empty {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}
#main_caption {
    vertical-align: middle;
    height: 60px;
    width: 300px;
    display: inline-block;
    font-size: 2em;
}
#bottom_caption {
    display: inline-block;
    width: 400px;
    height: 28px;
    position: relative;
    bottom: 26px;
}
#dashboard{
	margin: 0 auto;
	position: relative;
	top: 3em;
	width: 505px;
	text-align: right;
	font-family: Chewy;
	color: white;
	font-size: 2em;
}

#score {
	display: inline-block;	
}